<h1>albums</h1>
<div class="contanier">
  {{#each artist}}
  <h2> {{name}} </h2>
  <img src={{images.1.url}} alt="Poster for {{title}}"></a>
  <a href="/albums/someArtistIdGoesHere">View Albums</a>
  {{/each}}
</div>