<div id="wrap">
  <form action="/artist-search" method="GET">
    <input id="search" name="search" type="text" placeholder="What're we looking for ?"> 
    <input id="search_submit" value="Rechercher" type="submit">
    {{!-- <button type="submit">Search</button> --}}
  </form>
</div>